.task-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  padding: 10px;

  box-sizing: border-box;
  background-color: rgba(136, 145, 206, 0.669);
}
.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(136, 145, 206, 0.669);
  padding: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 55px;
  padding: 0px;
  height: 20px;
  margin: 0px;
}
input[type="date"]::-webkit-calendar-picker {
  width: 150px;
}

ion-textarea {
  flex-grow: 1;
  resize: none;
  height: 80%;
}
.custom-label {
  display: block;
  text-align: left;
  margin-bottom: 5px; /* Adjust this value according to your desired spacing */
  font-weight: bold; /* Optional: Makes the label bold for better visibility */
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.task-btn {
  display: flex;
  justify-content: center; /* This will center the button horizontally */
  align-items: center; /* This will center the button vertically */
  flex-grow: 1; /* This will make it occupy all available vertical space */
}

.validate-btn {
  width: 100%;
}
