.task-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

ion-input {
  flex: 0;
}

ion-textarea {
  flex-grow: 1;
  resize: none;
  height: 100%;
}
