.task-modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
ion-modal {
  --height: 100vh;
  margin-top: 20%;
  --top: 25%;
  --transform: translateY(25%);
  --border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease-in-out;
  --backdrop-opacity: 0;
}

.task-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.task-list {
  overflow: auto;
  z-index: 1;
  max-height: calc(100% - (height_of_your_footer + any_desired_padding));
  height: 100%;
}
.date-picker-wrapper {
  z-index: 2;
  position: relative;
}
.overlay {
  height: 100%;
  background-color: white;
  z-index: 1;
}
.add-button {
  position: fixed;
}
