.task-container {
  opacity: 0.6;
}

.container-items {
  display: flex;
  flex-direction: row;
  margin: 6px 20px;
}

.task-input,
.date-input {
  border: 1px solid rgb(95, 95, 95);
  border-radius: 13px;
  margin: 2%;
  text-align: center;
  width: 45%;
  height: 3em;
  --placeholder-color: rgb(95, 95, 95);
  --placeholder-opacity: 1;
  --placeholder-font-size: 12px;
}

.calendar-icon {
  font-size: 50px;
  margin: 2%;
}

.add-button {
  margin-right: 5%;
}
