.dashboard-main {
  background: rgb(199, 199, 224);
}
.wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
}

b {
  width: 100%;
}
.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #98adf3;
  user-select: none;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.content-today {
  height: 25vh;
}
.content-overview {
  height: 75vh;
}
.title {
  font-size: 20px;
}
.progress-circular {
  margin: 20px;
}
/*Statistics*/

.tile-container {
  margin: 30px 30px;
  text-align: center;
  border-radius: 10px;
  padding: 5%;
  background-color: #f8f9f9;
  border: #f3f4f4 1px solid;
  box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.2);
}
.tile-goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 30px;
}
.statistics .IonTitle {
  color: red;
}
.stat-bars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bar {
  width: 3%;
  background-color: #98adf3;
  margin: 0 2%;
}
.bar-container {
  display: inline-block;
  margin-right: 2px; /* Adjust spacing between bars if necessary */
  text-align: center;
}

.days {
  display: flex;
  justify-content: space-between;
}

.day-label {
  width: 3%;
  margin: 0 2%;
}

.bar-value {
  color: white;
  font-size: 10px;
}
.day-label.today {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 5px;
}

.category-badge {
  --background: none;
}
