form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.signup-input {
  width: 300px;
  height: 45px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: white;
  border: none;
  --placeholder-font-size: 20px;
  text-indent: 10px;
}

.signup-page {
  align-items: center;
  height: 70%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  border-radius: 10px !important;
  background-color: white !important;
}
p {
  color: white;
}
.link-no-underline {
  text-decoration: none;
}
