.date-picker-wrapper {
  height: 50vh;
}
.date-picker-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /* Ensure the date picker appears on top of all other elements */
  width: 100%;
  height: 20%;
  background-color: rgba(142, 155, 216, 0.43);
  margin-left: 8%;
  margin-top: 110%;
  border-radius: 15px;
}

.container-items {
  display: flex;
  flex-direction: row;
  margin: 6px 20px;
}

.task-input,
.date-input {
  border: 1px solid rgb(95, 95, 95);
  border-radius: 13px;
  margin: 2%;
  text-align: center;
  width: 45%;
  height: 3em;
  --placeholder-color: rgb(95, 95, 95);
  --placeholder-opacity: 1;
  --placeholder-font-size: 12px;
}
.calendar-icon {
  font-size: 50px;
  margin: 2%;
}
.add-button {
  margin-right: 5%;
}
