.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.left-content,
.right-content {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 50%;
}

.left-content {
  max-width: 75%;
  justify-content: flex-start;
  overflow: hidden;
}

.right-content {
  justify-content: flex-end;
  max-width: 25%;
}

.title-card {
  margin-left: 10px !important;
}

.card-container {
  border-radius: 25px;
}

.custom-ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.reorder-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
}
